<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huatong.mapper.UserMapper">


    <insert id="add" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="com.huatong.domain.User">
      insert into user(userName,age)VALUES(#{userName},#{age})
    </insert>

    <select id="find" resultType="com.huatong.domain.User">
        select id,userName,age from user
    </select>

</mapper>